@charset "UTF-8";

:root{
--cor1: #df94bbff;
--cor2: #ddbfd5ff;
--cor3: #041d3bff;
--cor4: #f7c552ff;
--cor5: #f9d16fff;
--cor6: #FFFFFF;
--cor7: black;

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient(to bottom, #ddbfd5ff, #f9d16fff);
    }
    
    section#login{
        width: 80vw;
        height: 350px;

    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 70%;
    }

    div#formulario > p{
        margin: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 992px) {

    body{
        background-image: linear-gradient(to bottom, #ddbfd5ff, #f9d16fff);
    }

    section#login{
        width: 950px;
        height: 380px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 2em;
        margin-top: 10px;
    }

    div#formulario > p{
        font-size: 1.2em;
        margin: 20px 0px;
    }
}